@use "../order-summary/scss/variables/variables";

body {
  background-color: variables.$color-pale-blue;
}

.order-summary-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: variables.$width-mobile;
  align-items: center;
  margin: 50% auto;
  border-radius: 30px;
  background-color: variables.$color-very-pale-blue;
  font-family: "Red Hat Display", sans-serif;

  .order-summary-main-container__svg-container {
    height: 200px;
    background-image: url("../order-summary/images/illustration-hero.svg");
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }

  .order-summary-main-container__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }

  .order-summary-main-container__title {
    color: variables.$color-dark-blue;
    font-size: 22px;
    font-weight: 900;
    width: 100%;
    text-align: center;
  }

  .order-summary-main-container__annual-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: variables.$color-very-pale-blue;
    margin-bottom: 35px;
    align-items: center;

    .svg-container {
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .order-summary-main-container__price {
      display: flex;
      flex-direction: column;
      width: 40%;

      h2 {
        font-size: 16px;
        margin: 0;
        padding-bottom: 5px;
      }

      span {
        font-size: 15px;
        color: variables.$color-desaturated-blue;
      }
    }
  }

  .payment-button {
    height: 50px;
    border-radius: 10px;
    background-color: variables.$color-bright-blue;
    color: variables.$color-very-pale-blue;
    border: 0;
    font-family: "Red Hat Doisplay";
    font-size: variables.$font-size-paragraph;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 80px;
    box-shadow: 0 15px 10px variables.$color-pale-blue;
  }

  p {
    text-align: center;
    color: variables.$color-desaturated-blue;
    font-size: variables.$font-size-paragraph;
    line-height: 1.8;
    margin: 10px 0;
  }
}
